.chat-main
  .group-info
    .group-info__left-box
      %h2.group-info__left-box__current-group{"data-group_id" => "#"}
        ss
      %ul.group-info__left-box__member-list
        Menber:
        %li.group-info__left-box__member-list__member 
          aaa
    = link_to "#" do
      .group-info__edit-btn edit

  .message-lists
    .message-list{"data-message_id" => "#"}
      .message-list__upper-info
        %p.message-list__upper-info__talker zxc
        %p.message-list__upper-info__date 2020/05/11(Mon) 16:01:48
      %p.message-list__text  こんにちは

  .message-form
    %form.new_massage
      .input-box
        %input{class: "input-box__text", type: "text", placeholder:"type a message"}
        %label{class: "input-box__image"}
          = icon('far', 'image') 
          %input{class: "input-box__image__file", type: "file"}
      %input{class: "submit-btn", type:"submit", value:"Send"}